[package]
name = "protocols"
version = "0.1.0"
edition = "2021"

[dependencies]
utils = { path = "../utils" }
serde.workspace = true
serde_json.workspace = true
anyhow.workspace = true
thiserror.workspace = true
futures.workspace = true
