[package]
name = "db"
version = "0.1.0"
edition = "2021"

[dependencies]
utils = { path = "../utils" }
sqlx.workspace = true
chrono.workspace = true
serde.workspace = true
anyhow.workspace = true
thiserror.workspace = true
uuid.workspace = true
tokio.workspace = true
